//blog-area 
.blog-wrapper {
    & .section-title {
        & h6 {
            &.left-line {
                &::after {
                    display: none;
                }
            }
        }
        & h2 {
            margin-bottom: 30px;
        }
        & p {
            margin-bottom: 30px;
        }
    }
}
.blogs {
    border: 2px solid $hr-border-color6;
    @media #{$xs} {
        margin-right: 0;
        margin-left: 0;
    }
    &__content {
        padding: 0 35px 40px 35px;
        @media #{$lg} {
            padding: 0 15px 40px 15px;
        }
        @media #{$md} {
            padding: 0 20px 40px 20px;
        }
        @media #{$xs} {
            padding: 0 15px 40px 15px;
        }
        &--meta {
           & span {
                color: $body-text-color3;
                letter-spacing: -0.3px;
                & i {
                    color: $theme-color2;
                    margin-right: 2px;
                }
                &:nth-child(1) {
                    margin-right: 20px;
                    @media #{$lg} {
                        margin-right: 12px;
                    }
                    @media #{$xs} {
                        margin-right: 15px;
                    }
                }
            }
        }
        & h4 {
            line-height: 1.3;
            @media #{$xs} {
               font-size: 20px;
            }
        }
        & .project-manager {
            & li {
                &:first-child {
                    margin-right: 60px;
                    @media #{$lg} {
                        margin-right: 25px;
                    }
                    @media #{$xs} {
                        margin-right: 15px;
                    }
                }
                & a {
                    & span {
                        color: $theme-color2;
                        font-size: 15px;
                    }
                }
            } 
        }
       & .more_btn_02 {
            color: $body-text-color3;
            font-size: 14px;
            font-weight: 700;
            border-bottom: 2px solid $hr-border-color6;
            @include transition(.4s);
            & i {
                font-size: 13px;
                margin-left: 7px;
                @include transition(.4s);
            }
            &:hover {
                color: $theme-color2;
                border-color: $theme-color2;
                & i {
                    color: $theme-color2;
                    transform:translateX(5px)
                }
            }
        } 
    }
    &:hover {
        & h4 {
            color:$theme-color2;
        }
        & .blogs__thumb {
            &--img {
                & img {
                    transform: scale(1.1);
                }
            } 
        } 
    }
} 
.blogs__thumb {
    &--img {
        overflow: hidden;
        & img {
            width: 100%;
            display: block;
            @include transition(.4s);
        }
    }
   & .blog-tag {
        position: absolute;
        bottom: -14px;
        left: 40px;
        color: $heding;
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        background: $theme-color;
        display: inline-block;
        padding: 8px 15px;
        border-radius: 30px;
    }
}
//blogs-02
.blogs-02 {
    border: 0;
    position: relative;
    & .blogs__thumb {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        @include transition(.4s);
        &::before {
            content: "";
            background: $black2;
            opacity: 0.90;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    & .blogs__content {
        padding: 35px 35px 33px 35px;
        z-index: 2;
        @media #{$lg} {
            padding: 35px 10px 33px 10px;
        }
        @media #{$xs} {
            padding: 35px 15px 33px 15px;
        }
        @media #{$sm} {
            padding: 35px 25px 33px 25px;
        }
        & p {
            color: $body-text-color3;
            margin-bottom: 35px;
        }
        &--meta {
            border-top: 1px solid $hr-border-color9;
        }
        & .project-manager {
           & li:first-child {
                @media #{$lg} {
                    margin-right: 45px;
                }
                @media #{$md} {
                    margin-right: 35px;
                }
                @media #{$xs} {
                    margin-right: 15px;
                }
                @media #{$sm} {
                    margin-right: 45px;
                }
            }
        } 
    }
    & .blog-tag {
        color: #1a1e2d;
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        background: #f59221;
        display: inline-block;
        padding: 8px 15px;
        border-radius: 30px;
    }
}
.blogs-02:hover {
    & .blogs__thumb  {
        opacity: 1;
        visibility: visible;
    }
    .blogs__content .project-manager li a span {
        color: $theme-color;
    }
    & .blogs__content {
        & h4 {
            color:$white;
        }
        & p {
            color:$white;
        }
        .blogs__content--meta {
            border-color: #3e3d3d;
           & span {
                color:$white;
                & i {
                    color: $theme-color;
                }
            }
        } 
     }
}
.blogs-03 {
    & .blogs__thumb {
        & .blog-tag {
            color: $white;
            background: $theme-color2;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            @media #{$xs} {
                left: 0;
            }
        } 
    }  
    &__content {
        padding: 0 35px 35px 35px;
        @media #{$xs} {
            padding:  0 20px 35px 20px;;
        }
        & h3 {
            font-size: 30px;
            line-height: 1.3;
            margin-bottom: 0;
            margin-bottom: 15px;
            @media #{$xs} {
                font-size: 25px;
             }
        }
        & p {
            color: $body-text-color3;
            margin-bottom: 30px;
        }
        .blogs__content--meta {
            margin-bottom: 22px;
            & span {
                margin-right: 30px;
                @media #{$xs} {
                    margin-right: 5px;
                }
                @media #{$lg} {
                    margin-right: 15px;
                }
                &:nth-child(1) {
                    margin-right: 30px;
                    @media #{$xs} {
                        margin-right: 5px;
                    }
                }
                &:nth-child(2) {
                    margin-right: 30px;
                    @media #{$xs} {
                        margin-right: 5px;
                    }
                }
                &:nth-child(3) {
                    margin-right: 30px;
                    @media #{$xs} {
                        margin-right: 5px;
                    }
                }
            } 
        } 
    }
}

.blogs-03__video {
   & .project-video {
        & .project-img {
           & img {
                width: 100%;
            }
        }
       & .video-area {
            & .popup-video {
                width: 100px;
                height: 75px;
                line-height: 75px;
            }
        } 
    }
}
.blogs__standard__text {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    padding: 45px 70px 40px 70px;
    @media #{$xs} {
        padding: 45px 20px 40px 20px; 
    }
    & h3 {
        margin-bottom: 20px;
        & a {
            color: $white;
            font-size: 30px;
            @media #{$xs} {
               font-size: 20px;
            }
        }
    }
    & h5 {
        color: $white;
    }
}
.pagination  {
    & .page-item  {
       & .page-link {
            color: $heding;
            font-size: 18px;
            line-height: 38px;
            font-weight: 700;
            text-align: center;
            border: 3px solid #dbdbdb;
            border-radius: 50%;
            display: inline-block;
            width: 59px;
            height: 59px;
            background: none;
            margin-right: 10px;
            @media #{$xs} {
               margin-right: 1px;
             }
            &:focus {
                box-shadow: none;
            }
            &:hover {
                border-color: $theme-color;
                background: $theme-color;
            }
        }
    }
}
.widget-search-box {
    padding: 35px;
    & .subscribe-form {
        position: relative;
        & input:focus {
            box-shadow: none;
            border: 0;
        }
        & .form-control {
            color: $body-text-color3;
            font-size: 16px;
            font-weight: 500;
            background-color: $grey3;
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 65px;
            z-index: 1;
            border-radius: 30px;
            border: 0;
            display: block;
            padding: 0 0 0 40px;
        }
       & button {
            border: 0;
            background: 0;
            color: $theme-color2;
            font-size: 18px;
            position: absolute;
            right: 35px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            cursor: pointer;
        }
    } 
} 
.widget-title {
	font-size: 24px;
}
.widget-list {
   & li {
        color: $body-text-color5;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.3;
        background: $white;
        padding: 23px 35px;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            background: $theme-color2;
            width: 100%;
            height: 0;
            left: 0;
            right: 0;
            top:0;
            bottom: 0;
            @include transition(.4s);
            z-index: -1;
        }
        &:hover {
            color: $white;
            &::before {
                height: 100%;
            }
        }
    }
} 
.widget {
   & .post {
        &__text {
           & h5 {
                margin-bottom: 0;
                @media #{$lg} {
                    font-size: 16px;
                }
            }
        }
        &:hover {
            & .post__text {
                & h5 {
                     & a {
                         color: $theme-color2;
                     }
                 }
             }
        } 
    } 
}
.post-list {
    & li {
        margin-right: 20px;
        margin-left: 35px;
        border-bottom:1px solid $hr-border-color6;
        margin-bottom: 23px;
        @media #{$lg} {
            margin-right: 10px;
            margin-left: 10px;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}
.instafeed {
    overflow: hidden;
    padding: 0px 35px 35px 35px;
   & li {
        float: left;
        width: 50%;
        padding: 0 5px;
        margin-bottom: 10px;
        & a {
            position: relative;
            display: block;
            & img {
                width: 100%;
            }
            &::before {
                content: '';
                position: absolute;
                background: $theme-color2;
                opacity: 0;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transform: scale(0);
                z-index: 1;
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -ms-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
            }
            & .insta-icon {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 50%;
                z-index: 2;
                transform: translateY(-50%);
                opacity: 0;
                text-align: center;
                font-size: 35px;
                color: #fff;
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -ms-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
            }
            &:hover {
                &::before {
                    opacity: 0.78;
                    transform: scale(1);
                }
                & .insta-icon { 
                    opacity: 1;
                }
            } 
        } 
    }
}
.tags {
    padding: 10px 35px 20px 35px;
   & a {
        color: $body-text-color6;
        font-size: 14px;
        line-height: 1;
        font-weight: 500;
        display: inline-block;
        margin: 0 3px 7px 0;
        padding: 10px 13px;
        border: 1px solid $hr-border-color11;
        @include transition(.4s);
        &:hover {
            color: $white;
            background: $theme-color2;
            border-color: $theme-color2;
        }
    } 
}
//blog-details-area
.blogs-details-content-area {
    padding: 0 38px 0 38px;
    @media #{$xs} {
        padding: 0 20px 0 20px;
    }
   & .blogs-03 {
        border: 0;
        &__content {
            padding: 0 0 0 0;
        }
    }
    .details-list {
        & li {
            float: none;
            width: 100%;
            padding-left: 0;
            margin-bottom: 22px;
            & i {
                color: $theme-color2;
                margin-right: 18px;
            }
            &::before {
                display: none;
            }
        }
    } 
} 
.blogs-details-text {
    & h3 {
        font-size: 30px;
        @media #{$xs} {
            font-size: 25px;
        }
    }
    & p {
        color: $body-text-color3;
    }
   & .blogs-details-img {
        & img {
            width: 100%;
        }
    }
}
.blog-post-tag {
    border-top: 2px solid $hr-border-color11;
}
.post-tag-list {
    & span {
        color: $heding;
        font-size: 18px;
        font-weight: 700;
    }
    & a {
        color: $body-text-color3;
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
        &:hover {
            color: $theme-color2;
        }
    }
} 
.post-share-icon {
    & span {
        color: $heding;
        font-size: 18px;
        font-weight: 700;
    }
    & a {
        color: #757575;
        font-size: 14px;
        margin-left: 20px;
        &:hover {
            color: $theme-color2;
        }
    }
}
.blog-post-text {
    padding: 35px 70px 32px 50px;
    @media #{$xs} {
        padding: 35px 20px 32px 20px;
    }
    & h4 {
        font-size: 24px;
        color:$white;
        line-height: 1.4;
        margin-bottom: 10px;
        }
    & p {
        color: $white;
        font-weight: 700;
        & i {
            font-size: 18px;
            margin-right: 5px;
        }
    }
}
.author {
    overflow: hidden;
    padding: 40px 50px 40px 40px;
    @media #{$xs} {
        padding: 40px 20px 40px 20px;
    }
    &__avatar {
        float: left;
        margin-right: 35px;
        @media #{$xs} {
                float: none;
                margin-bottom: 20px;
        }
    }
    &__text {
        overflow: hidden;
        & p {
            color: $heding;
            margin-bottom: 10px;
        }
       & .post-share-icon {
            & a {
                margin-left: 0;
                margin-right: 20px;
            }
        } 
    }
} 
.blog-post-area {
    padding-top: 50px;
    border-top: 2px solid $hr-border-color11;
    border-bottom: 2px solid $hr-border-color11;
}
.post__text--meta {
   & span {
        color: $body-text-color;
        font-size: 14px;
        margin-right: 14px;
    }
}
.post-comments {
    & .comments-title {
        font-size: 24px;
    }
} 
.comments {
    &__avatar {
        float: left;
        overflow: hidden;
        margin-right: 20px;
        @media #{$xs} {
            float: none;
            margin-bottom: 20px;
        }
    }
    &__content {
        & span {
            color: $theme-color2;
            font-size: 15px;
            font-weight: 500;
            display: inline-block;
            margin-bottom: 8px;
        }
        & p {
            color: $body-text-color3;
            margin-bottom: 8px;
        }
        & .com-btn {
            color: $theme-color2;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
} 
.latest-comments {
    & li {
        padding-bottom: 40px;
        &.children {
            margin-left: 105px;
            @media #{$xs} {
                margin-left: 0;
            }
        }
        &:last-child {
            border-bottom: 2px solid $hr-border-color11;
        }
    }
}
.post-form-area {
    & .input-text {
        position: relative;
        &::before {
            position: absolute;
            content: '\f007';
            font-family: 'Font Awesome 5 pro';
            font-size: 15px;
            color: $theme-color2;
            right: 20px;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);
        }
        &.input-mail {
            &::before {
                content: '\f2b6';
            }
        }
        &.input-msg {
            &::before {
                content: '\f040';
                top:20px
            }
        }
        & input:focus {
            border: 2px solid $theme-color2;
            box-shadow: none;
            background: none;
            border-radius: 5px;
        }
        & .form-control {
            background-color: $grey;
            position: relative;
            width: 100%;
            height: 70px;
            color: $heding;
            font-size: 15px;
            font-weight: 500;
            border: 0;
            padding-left: 25px;
            display: block;
            border-radius: 0;
        }
        & textarea {
            background-color: $grey;
            position: relative;
            width: 100%;
            height: 120px;
            border: 0;
            color: $heding;
            font-size: 15px;
            font-weight: 500;
            resize: none;
            padding: 20px 0 0 27px;
            &::placeholder {
                color: $heding;
            }
        }
        textarea:focus {
            border-radius: 5px;
            border: 2px solid $theme-color2;
            background: none;
        }
    }
}