//page-title-area
.page-title-area {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 575px;
	position: relative;
	margin-top: -10px;
	@media #{$md} {
		min-height: 450px;
	}

	@media #{$xs} {
		min-height: 400px;
	}

	@media #{$sm} {
		min-height: 400px;
	}

	&::before {
		content: "";
		background-color: $black3;
		opacity: 0.50;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	& .right-border-shape {
		position: absolute;
		right: 0;
		top: -190px;
	}
}

.page-title-wrapper	{
	padding-top: 200px;
	& .page-title {
			color: $white;
			font-size: 85px;
			line-height: 1;
			font-family: $poppins;
			font-weight: 700;
			letter-spacing: -0.5px;
			margin-bottom: 20px;
	
			@media #{$md} {
				font-size: 70px;
			}
	
			@media #{$xs} {
				font-size: 32px;
			}
	
			@media #{$sm} {
				font-size: 32px;
			}
	}
	& .breadcrumb {
		background: 0;
		justify-content: center;
		padding: 0;
		margin: 0;
	}
}

	ul.breadcrumb-list {
		text-align: left;
		display: inline-block;
		& li {
			display: inline-block;
			padding: 0 7px;

			& a {
				color: $white;
				font-size: 24px;
				font-family: $poppins;
				display: inline-block;
				letter-spacing: -0.3px;
				font-weight: 600;
				@media #{$xs} {
					font-size: 18px;
				}
	
				@media #{$sm} {
					font-size: 20px;
				}
				& i {
					font-size: 18px;
					margin-left: 8px;
					line-height: 1;
				}
				&.active {
					color: $theme-color;
				}
			}
		}
	}
