/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* 1. Theme default css */

 body {
	font-family: $poppins;
	font-size: 15px;
	line-height: 28px;
	font-weight: 400;
    font-style: normal;
    color:$body-text-color;
}
// .img,img {
// 	max-width: 100%;
// 	@include transition(.3s);
// }
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	@include transition(.3s);
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover
{
	color: inherit;
	text-decoration: none;
}
a,
button {
	color: inherit;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $poppins;
	color: $heding;
	line-height: 1.1;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	text-transform: normal;
	letter-spacing: -0.3px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	font-family: $poppins;
	color: $body-text-color;
	margin-bottom: 0;
}
hr {
	border-bottom: 1px solid $hr-border-color;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: $grey;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}
::-moz-selection {
	background: $black;
	color:$white;
	text-shadow: none;
}
::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}


/*--
    - position Classes
-----------------------------------------*/
.pos-rel {
	position: relative;
}
.pos-abl {
	position: absolute;
}
/*--
    - Common Classes
-----------------------------------------*/
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}


/*--
    - Background color
-----------------------------------------*/

.grey-bg {
	background: $grey;
}

.white-bg {
	background:$white;
}
.black-bg {
	background: $black;
}
.black-bg2 {
	background: #fefefe;
}
.heding-bg {
	background: $heding;
}
.theme-bg {
	background: $theme-color;
}
.theme-bg2 {
	background: $theme-color2;
}
// .primary-bg {
// 	background: #222;
// }

/*--
    - color
-----------------------------------------*/
.white-color {
	color: $white;
}
.black-color {
	color: $black;
}
.theme-color {
	color: $theme-color;
}
// .primary-color {
// 	color: #222;
// }

/*--
	-theme-btn
----------------------------------------*/
.theme_btn {
	overflow: hidden;
	color: $heding;
	background: #f59221;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	font-family: "Poppins", sans-serif;
	padding: 22px 38px 22px 38px;
	display: inline-block;
	border-radius: 30px;
	position: relative;
	z-index: 1;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.4s ease-in-out;
	& i {
		font-size: 15px;
		line-height: 1;
		margin-left: 5px;
		@include transition(.4s);
	}
	&::before {
		top: 0px;
		width: 0px;
		left: auto;
		right: 0px;
		z-index: -1;
		bottom: 0px;
		content: "";
		position: absolute;
		border-radius: 30px;
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		color:$white;
		&::before {
			left: 0px;
			width: 100%;
			right: auto;
		}
		& i {
			transform: translateX(10px);
		}
	}
}
.theme_btn_bg {
	&::before {
		background: $theme-color2;
	}
}
.theme_btn_bg_02 {
	&::before {
		background: $theme-color;
	}
}
//border-btn
.theme-border-btn {
	color: $white;
	background: transparent;
	border: 2px solid $hr-border-color;
	&:hover {
		color: $heding;
		border-color: transparent;
		&::before {
			background: $theme-color;
		}
	}
}
.theme_btn2 {
	background: $theme-color2;
	&:hover {
		border-color: transparent;
		background: transparent;
	}
}
//left-line
.left-line {
	position: relative;
	&::before {
		content: "";
		background: $white;
		position: absolute;
		left: 0;
		top: 10px;
		width: 50px;
		height: 2px;
		z-index: 1;	  
	}
}

  

/*--
section-title
----------------------------------------*/
.section-title {
	& h6 {
		color: $theme-color2;
		font-size: 18px;
		font-family: $poppins;
		line-height: 1.1;
		font-weight: 600;
		margin-bottom: 25px;
		display: inline-block;
		@media #{$xs} {
			padding-left: 60px;
			padding-right: 60px;
		}
		&.left-line {
			&::before {
				background: $theme-color2;
				width: 51px;
				height: 3px;
				left: 0;
			}
			&::after {
				content: "";
				background: $theme-color2;
				position: absolute;

				right: 0;
				top: 10px;
				width: 51px;
				height: 3px;
				z-index: 1;	  
			}
		}
	}
	& h2 {
		color: $heding;
		font-size:55px;
		line-height: 1.1;
		font-weight: 700;
		font-family: $poppins;
		letter-spacing: -0.3px;
		& span {
			font-weight: 300;
		}
		@media #{$lg} {
			font-size: 40px;
		}
		@media #{$md} {
			font-size: 45px;
		}
		@media #{$xs} {
			font-size: 24px;
		}
		@media #{$sm} {
			font-size: 30px;
		}
	}
} 
//white-title 
.white-title {
	& h6 {
		color: $theme-color;
		&.left-line {
			&::before {
				background-color: $theme-color;
			}
			&::after {
				background-color: $theme-color;
			}
		}
	}
	& h2 {
		color: $white;
	}
}
  
//video-icon
.popup-video {
	color: $theme-color2;
	background: $white;
	border-radius: 50%;
	font-size: 14px;
	line-height: 100px;
	display: inline-block;
	width: 100px;
	height: 100px;
	text-align: center;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
	position: relative;
	z-index: 1;
	animation: pulseBig infinite 5s linear;
	&:hover {
		color: $white;
		background: $theme-color2;
	}
}

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 40 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}

/*-- Margin Bottom --*/
@for $i from 1 through 40 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 40 {
    .ml-#{5 * $i}{margin-left: 5px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 40 {
    .mr-#{5 * $i}{margin-right: 5px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 40 {
    .pt-#{5 * $i}{padding-top: 5px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 40 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 40 {
    .pl-#{5 * $i}{padding-left: 5px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 40 {
    .pr-#{5 * $i}{padding-right: 5px *$i;}
}


// others common css here :)

.dark #preloader {
	background-color: #232323;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f7f7f7;
	z-index: 999999;
}

.preloader {
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0px;
	text-align: left;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

.preloader span {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: $theme-color;
	-webkit-animation: preloader 1.3s linear infinite;
	animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
	animation-delay: -0.8s;
	-webkit-animation-delay: -0.8s;
}

@keyframes preloader {
	0% {
		transform: scale(0, 0);
		opacity: 0.5;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@-webkit-keyframes preloader {
	0% {
		-webkit-transform: scale(0, 0);
		opacity: 0.5;
	}

	100% {
		-webkit-transform: scale(1, 1);
		opacity: 0;
	}
}
//scrollup
#scrollUp {
	background: $theme-color;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 50px;
	bottom: 50px;
	border-radius: 10px;
	line-height: 50px;
	text-align: center;
	& i {
		color: $white;
	}
}
//animation

/* Move frame*/
@keyframes moveRound {
    0%   {background-color:#eee3ff; left:-24px; top:0px;}
    25%  {background-color:#feddfc; left:100px; top:0px;}
    50%  {background-color:#efe4ff; left:100px; top:100px;}
    75%  {background-color:#e2fcf4; left:-24px; top:200px;}
    100% {background-color:#eee3ff; left:-24px; top:0px;}
}
@-webkit-keyframes moveRound {
    0%   {background-color:#eee3ff; left:-24px; top:0px;}
    25%  {background-color:#feddfc; left:100px; top:0px;}
    50%  {background-color:#efe4ff; left:100px; top:200px;}
    75%  {background-color:#e2fcf4; left:-24px; top:100px;}
    100% {background-color:#eee3ff; left: -24px; top:0px;}
} 
@keyframes moveShap {
    0%   {left: 0px; top:0px;}
    25%  {left:100px; top:0px;}
    50%  {left:100px; top:100px;}
    75%  {left: 0px; top:200px;}
    100% {left: 0px; top:0px;}
}
@keyframes moveShap2 {
    0%   {right: 230px; top: 85px;}
    25%  {right:100px; top: 85px;}
    50%  {right:100px; top:100px;}
    75%  {right: 230px; top:200px;}
    100% {right: 220px; top: 100px;}
}
/* Heartbeat frame*/
@-webkit-keyframes heartbeat {
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes heartbeat {
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
/* Rotation frame*/
@keyframes rotation {
    to{
        transform: rotate(360deg);
    }
}
/* pulseBig */ 
@keyframes pulseBig {
	0% {
		box-shadow: 0 0 0 0 #fff;
	}

	50% {
		box-shadow: 0 0 0 30px rgba(1, 93, 199, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(1, 93, 199, 0);
	}
}
/* pulseBig2 */ 
@keyframes pulseBig2 {
	0% {
		box-shadow: 0 0 0 0 #e5aa8f;
	}

	50% {
		box-shadow: 0 0 0 20px rgba(1, 93, 199, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(1, 93, 199, 0);
	}
}
/* pulseBig2 */ 
@keyframes pulseBig3 {
	0% {
		box-shadow: 0 0 0 0 #ffffff;
	}

	50% {
		box-shadow: 0 0 0 20px rgba(1, 93, 199, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(1, 93, 199, 0);
	}
}
