//our-goal-area
.our-goal-area {
    margin-top: -38px;
    z-index: 1;
}

.nav-tabs {
    border:0;
    margin: 0 auto;
    & .nav-item {
        &:nth-child(2) {
            & .nav-link {
                margin: 0 30px;
                @media #{$xs} {
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
            }
        }
    }
   & .nav-link {
        color: $heding;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
        background-color: $white;
        box-shadow: 0px 10px 30px 0px rgba(224, 224, 224, 0.35);
        width: 370px;
        display: inline-block;
        border: 0;
        border-radius: 0;
        padding: 19px 0;
        border-bottom: 2px solid $theme-color2;
        &.active {
            color: $white;
            background: $theme-color2;
        }
        @media #{$lg} {
           width: 280px;
        }
        @media #{$md} {
           width: 210px;
        }
        @media #{$xs} {
           width: 300px;
           margin-bottom: 10px;
        }
        &:hover {
            border-color: $theme-color2;
        }
    }
} 

 .goal-wrapper {
     @media #{$lg} {
         padding-right: 0;
     }
     @media #{$md} {
         padding-right: 0;
     }
     @media #{$xs} {
         padding-right: 0;
     }
     & .section-title {
         & h2 {
             margin-bottom: 20px;
         }
         & p {
             color: $body-text-color3;
         }
     }
 } 
 .goal-list {
   & li {
        color: $heding;
        font-size: 15px;
        font-weight: 500;
        padding-left: 50px;
        position: relative;
        margin-bottom: 30px;
        &::before {
            content: '\f00c';
            position: absolute;
            font-family: 'Font Awesome 5 pro';
            font-size: 14px;
            color: #674df0;
            text-align: center;
            left: 0;
            top: -4px;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border: 1px solid $hr-border-color8;
            border-radius: 50%;
            @include transition(.4s);
            z-index: 1;
        }
        &:hover {
            &::before {
                color: $white;
                background: $theme-color2;
                border-color: $theme-color2;
            }
        }
    }
 }
 .goal-img-box {
     position: relative;
    & .goal-img-one {
        position: relative;
        z-index: 2;
        & img  {
            width: 100%;
        }
    }
    & .goal-img-two {
        position: absolute;
        z-index: 3;
        bottom: -60px;
        left: 20px;
    }
    & .goal-img-three {
        position: absolute;
        z-index: 1;
        right: -50px;
        bottom: -50px;
        animation: rotation infinite 10s alternate-reverse;
        @media #{$laptop} {
            right: 50px;
        }
        @media #{$lg} {
            right: 50px;
        }
        @media #{$md} {
            right: 50px;
        }
        @media #{$xs} {
            right: 50px;
        }
    }
 } 
 //career-catagory-area
 .careers {
	text-align: center;
    padding: 40px 0 35px 0;
    position: relative;
    z-index: 1;
    @include transition(.4s);
    & .careers-img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        @include transition(.4s);
        &::before {
            content: " ";
            position: absolute;
            background: #f59221;
            opacity: 0.9;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
     &__icon {
         margin-bottom: 10px;
         & i {
            color:$white;
            font-size: 55px;
            @include transition(.3s);
         }
     }
     & h4 {
        color:$white;
        font-size: 24px;
        @include transition(.3s);
    }
    & p {
        color: $white;
        @include transition(.3s);
    }
    &:hover {
        background-color: 0;
        & .careers__icon {
            & i {
               color:$heding;
            }
        }
        & h4 {
            color:$heding;
       }
       & p {
        color:$heding;
       }
       & .careers-img {
           opacity: 1;
           visibility: visible;
       }
    }
 }
 .registraton-box {
     border: 1px solid $hr-border-color5;
     padding: 35px 40px 30px 40px;
     @include transition(.4s);
     position: relative;
     z-index: 1;
     @media #{$md} {
         padding: 35px 20px 30px 20px;
     }
     @media #{$xs} {
         padding: 35px 15px 30px 15px;
     }
     &::before {
        position: absolute;
        right: 30px;
        content: "\f10d";
        font-family: "Flaticon";
        bottom: 30px;
        color: $white;
        font-size: 160px;
        line-height: 1;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }
     & h4 {
         & span {
             font-size: 16px;
             color: $body-text-color3;
             margin-left: 10px;
             font-weight: 500;
         }
     }
     & p {
        color: $body-text-color3;
        margin-bottom: 30px;
     }
    & .reg_btn {
        border: 2px solid $hr-border-color5;
        border-radius: 0;
        background: transparent;
    }
    &:hover {
        background-color: $theme-color2;
        border-color: $theme-color2;
        &::before {
            opacity: 0.1;
            visibility: visible;
        }
        & h4 {
            color: $white;
            & span {
                color: $white;
            }
        }
        & p {
            color: $white;
        }
        & .reg_btn {
            background: $theme-color;
            border-color: $theme-color;
        }
    }
 }