//feature-project-area
.projects__thumb {
    & img {
        @media #{$xs} {
            width: 100%;
        }
        @media #{$sm} {
            width: inherit;
        }
    }
}
.projects {
    &__content {
        padding: 40px 40px 0 35px;
        @media #{$lg} {
            padding: 40px 15px 0 15px;
        }
        @media #{$md} {
            padding: 40px 25px 0 25px;
        }
        @media #{$xs} {
            padding: 40px 15px 30px 15px;
        }
        @media #{$sm} {
            padding: 21px 15px 0px 15px;
        }

        & h4 {
            margin-bottom: 22px;
            line-height: 1.3;
            @media #{$lg} {
                font-size: 18px;
            }
            @media #{$xs} {
                font-size: 20px;
            }
        }
    }
    &:hover {
        & .projects__content {
           & h4 {
                color: $theme-color2;
            }
        }
    }
}
.skill {
   & p {
        color: $hr-border-color;
        font-weight: 700;
        margin-bottom: 12px;
        & span {
            font-size: 18px;
            color: $theme-color2;
        }
    }
} 
.progress {
	height: 5px;
	overflow: visible;
	background-color: $hr-border-color3;
    width: 100%;
    position: relative;
   & .progress-bar {
        background-color: $theme-color2;
        width: 85%;
        & h5 {
            position: absolute;
            right: 40px;
            bottom: 12px;
            @media #{$lg} {
                right: 0;
            }
        }
    }
}
.project-manager {
   & li {
        display: inline-block;
        &:first-child {
            margin-right: 20px;
            @media #{$laptop} {
                margin-right: 8px;
            }
            @media #{$md} {
                margin-right: 10px;
            }
        }
        & a {
            & span {
                color: $heding;
                font-size: 18px;
                font-weight: 600;
                margin-left: 5px;
            }
        } 
        & p {
            & i {
                color: $theme-color2;
                font-size: 15px;
            }
        }
    }
} 
//project-area
.project-area {
    padding-bottom: 230px;
}
.projects-02 {
    .projects__thumb {
        overflow: hidden;
        & img {
           width: 100%;
           display: inline-block;
           @include transition(.4s);
        }
    }
   & .new-tag {
        color: #1a1e2d;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        background: white;
        padding: 6px 13px;
        border-radius: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;
        line-height: 1;
    }
    & .projects__content {
        padding-bottom: 45px;
        position: relative;
        &::before {
            position: absolute;
            content: "\f10c";
            font-family: "Flaticon";
            bottom: 40px;
            color: #ededed;
            font-size: 85px;
            line-height: 1;
            opacity: 0.7;
            right: 45px;
            top:40px;
            z-index: -1;
            @include transition(.4s);
        }
    }
    & .project-manager {
       & li {
            &:first-child {
                margin-right: 70px;
                @media #{$lg} {
                    margin-right: 30px;
                }
                @media #{$md} {
                    margin-right: 35px;
                }
                @media #{$xs} {
                    margin-right: 35px;
                }
            }
       } 
    } 
    &:hover {
        .projects__thumb {
            & img {
                transform: scale(1.1);
            }
        }
        & .projects__content { 
            &::before {
                color: $theme-color2;
                transform: scale(1.1);
                opacity: 0.3;
            }
        }
    }
}
//projects__03
.feature-project-03 {
   & .custom-container-4 {
        max-width: 1605px;
        margin: 0 auto;
    }
}
.projects__03 {
    & .projects__thumb {
        & img {
            width: 100%;
        }
    }
    & .projects__content {
        padding: 30px 30px 30px 30px;
        margin: -50px 30px 0 30px;
        position: relative;
        z-index: 1;
        bottom: 0;
        @media #{$laptop} {
                padding: 30px 20px 30px 20px;
                margin: -50px 0px 0 0px;
        }
        @media #{$xs} {
                padding: 30px 20px 30px 20px;
                margin: -50px 0px 0 0px;
        }
    }
}
.project-01-area {
    & .projects-02  {
        border: 1px solid $hr-border-color5;
    }
}
.new-tag.hot_tag {
	background: $theme-color2;
	color: $white;
}
.nice-select.sort-area {
	border: 2px solid #e5e5e5;
	border-radius: 30px;
	padding: 0 50px 0 37px;
	height: 50px;
	line-height: 45px;
    display: inline-block;
    position: relative;
    &::before {
        content: '\f078';
        position: absolute;
        font-family: 'Font Awesome 5 pro';
        line-height: 1;
        color: #000846;
        font-size: 14px;
        right: 27px;
        top: 15px;
        z-index: 1;
    }
    &::after {
        display: none;
    }
    & span {
        color: $heding;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    & .list {
        width: 100%;
    }
}
//project-image-area
.project-image-area {
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    & .project-img {
        & img {
            width: 100%;
        }
    }
}
.project-cart {
    & .new-tag {
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 700;
        display: inline-block;
        background: #04391B;
        padding: 8px 19px;
        border-radius: 30px;
        margin-bottom: 22px;
    }
   & .projects__content {
       padding: 0;
       padding: 50px 40px 51px 55px;
       @media #{$xs} {
           padding: 50px 20px 33px 20px;
       }
        h3 {
            font-size: 30px;
            line-height: 1.3;
            margin-bottom: 36px;
            @media #{$xs} {
                font-size: 20px;
            }
        }
       & .skill-para {
            margin-bottom: 12px;
        }
    }
    & .projects__manager {
        & .name {
           & h5 {
                margin-bottom: 0;
            }
            & address {
                margin-bottom: 0;
                & a {
                    color: $body-text-color3;
                    font-size: 15px;
                    letter-spacing: -0.3px;
                    @media #{$xs} {
                        font-size: 13px;
                    }
                    &:nth-child(1) {
                        margin-right: 15px;
                        @media #{$xs} {
                            margin-right: 0;
                        }
                    }
                    & i {
                        color: $theme-color2;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    & p {
        color: $body-text-color3;
        margin-bottom: 30px;
    }
} 
.cart-list  {
    & li {
       margin-right: 15px;
       @media #{$xs} {
           margin-bottom: 10px;
       }
    }
}
.plus-minus {
    display: inline-block;
   & input {
        border:2px solid $hr-border-color5;
        border-radius: 30px;
        text-align: center;
        width: 146px;
        height: 56px;
        color: $heding;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        z-index: 1;
    }
    .updown {
        position: absolute;
        top: 15px;
        left: 24px;
        z-index: 2;
    }
    .updown.minus {
        left: auto;
        right: 24px;
    }
}
.our-overview-area {
    margin-top: -30px;
    & .nav-tabs-02 {
        display: flex;
        justify-content: space-between;
        & .nav-item:nth-child(2) .nav-link {
           margin: 0;
        }
        & .nav-link {
            font-size: 20px;
            width: 255px;
            background: $theme-color2;
            @include transition(.3s);
            @media #{$lg} {
                width: 220px;
            }
            @media #{$md} {
                width: 170px;
            }
            &.active {
                background: $theme-color;
            }
            &:hover {
                color: $white;
                background: $theme-color;
            }
        }
    } 
} 
.update-meta {
   & span {
        color: $body-text-color3;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 8px;
        & i {
            color: $theme-color2;
            font-size: 15px;
            margin-right: 4px;
        }
    }
} 
.update-content {
   & h4 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 14px;
        &::before {
            background: $hr-border-color5;
            left: -82px;
            top: 13px;
            height: 3px;
            @media #{$xs} {
                display: none;
            }
        }
    }
    & p {
         color: $body-text-color3;
         margin-bottom: 10px;
    }
} 
.update-share {
   & span {
        color: $heding;
        font-weight: 500;
        margin-right: 15px;
    }
    & .update__social {
        opacity: 1;
        visibility: visible;
        position: relative;
        top: 8px;
        & li {
            margin-right: 6px;
            & a {
                color: $theme-color3;
                background: $theme-color2;
                &:hover {
                    background: $theme-color;
                    & i:nth-child(2) {
                        color: $heding;
                    }
                }
            }
        }
    }
}
//time-line
ul.timeline {
    list-style-type: none;
    position: relative;
    &::before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 18px;
        width: 2px;
        height: 100%;
        z-index: 1;
        top: 62px;
        @media #{$xs} {
            display: none;
         }
    }
    & li.timeline-list {
        margin: 23px 0;
         padding-left: 115px;
         position: relative;
         display: inline-block;
         @media #{$xs} {
             padding-left: 0;
         }
         &::before {
             content: ' ';
             background: white;
             display: inline-block;
             position: absolute;
             border-radius: 50%;
             border: 2px solid $hr-border-color5;
             top: 34px;
             left: 3px;
             width: 31px;
             height: 31px;
             z-index: 3;
             @media #{$xs} {
               display: none;
            }
         }
         &::after {
            content: ' ';
            background: $hr-border-color5;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            left: 9px;
            width: 19px;
            height: 19px;
            z-index: 4;
            top: 40px;
            @include transition(.3s);
            @media #{$xs} {
                display: none;
             }
        }
        &:hover {
            &::after {
                background: $theme-color2;
            }
        }
     }
}


 
//time-line
.img-title {
    font-size: 30px;
    font-weight: 600;
    @media #{$xs} {
        font-size: 25px;
     }
}
.left-content-box {
   & .image-content-thumb {
       & img {
            width: 100%;
        }
    }
    & p {
        color: $body-text-color3;
    }    
}
.left-content-list{
   & .details-list {
       & li {
           margin-bottom: 42px;
          &::before {
                color: $theme-color2;
                top:-10px;
                width: 40px;
                height: 40px;
                border-radius: 0;
            }
       }
   }
   & .image-content-thumb {
    & img {
        width: 100%;
        }
    } 
}
.widget-rewards {
    padding: 35px 40px 35px 40px;
    @media #{$lg} {
        padding: 35px 30px 35px 30px;
    }
    @media #{$xs} {
        padding: 35px 19px 35px 19px;
    }
    & h4 {
        font-size: 24px;
        margin-bottom: 30px;
    } 
   & .reaward__thumb {
        & img {
            width: 100%;
        }
    }
    & h5 {
        & span {
            color: $theme-color2;
            font-size: 24px;
        } 
    } 
    & p {
        color: $body-text-color3;
    }
}
.rewards-list {
   & li {
        color: $heding;
        font-size: 15px;
        font-weight: 600;
        & i {
            color: $theme-color2;
            margin-right: 7px;
        }
    }
} 
//review-tab
.reviewer {
    &__img {
        margin-right: 20px;
    }
    &__content {
        & p {
            color: $heding;
            font-weight: 600;
            & span {
                color: #666;
                font-size: 12px;
                font-weight: 400;
            }
        }
       & span {
           color: $body-text-color3;
           font-size: 14px;
       } 
    }
}
.review-icon {
    margin-bottom: 2px;
    & a {
         color: $theme-color2;
         font-size: 14px;
         margin-right: 5px;
     }
     & span {
         color: $heding;
         font-size:18px;
         font-weight: 600;
     }
}
.review-form {
  & .review-icon {
      margin-bottom: 15px;
  }
  & .input-text {
      &::before {
          display: none !important;
      }
    & .form-control {
        font-size: 14px;
        font-weight: 600;
        color: $body-text-color7;
      border: 2px solid #dddddd !important;
      background: none !important;
    }
    & textarea {
        font-size: 14px;
        font-weight: 600;
        color: $body-text-color7;
        height: 83px;
        border: 2px solid #dddddd !important;
        background: none !important; 
    }
  }
  & .review-btn {
      a.theme_btn {
          padding: 25px 43px 25px 43px;
      }
  }
}
//backer-list
.table {
   & thead {
          & th {
                vertical-align: bottom;
                border: 0;
                border-bottom: 2px solid $hr-border-color9;
                color: $heding;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: -0.3px;
                padding: 0;
                padding-bottom: 20px;
        } 
    } 
   & tbody { 
       & td {
            color: $body-text-color3;
            border-top: 0;
            border-bottom: 1px solid $hr-border-color9;
            padding: 32px 0;
        }
   } 
}

//project-video
.project-video {
    .project-img {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: $black3;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }
    }
  & .video-area {
    & .popup-video {
        border-radius: 12px;
        background-color: rgb(255, 65, 33);
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-60%);
        width: 110px;
        height: 80px;
        z-index: 1;
        text-align: center;
        line-height: 80px;
        color: $white;
        font-size: 18px;
        display: inline-block;
        margin: 0 auto;
    }
  } 
} 
.gallery-details-area {
   & .nav-tabs-03 {
        overflow: hidden;
       & .nav-item {
            float: left;
            width: 33%;
            @media #{$xs} {
                float: none;
                width: 100%;
            }
            &:nth-child(2) {
               & .nav-link {
                    margin: 0;
                    padding: 10px;
               }
            }  
       }
        & .nav-link {
            width: 100%;
            background: 0;
            border: 0;
            padding: 10px;
            margin:0;
            & img {
                @media #{$xs} {
                    width: 100%;
                }
            }
            &.active {
                background: 0;
                border: 0;
                padding: 10px;
            }
        }
    }
}
 