//slider-01
.single-slider {
	position: relative;
	&::before {
		content:"";
		background: #08133b;
		opacity: 0.50;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
.slider-height {
	min-height: 886px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
	@media #{$lg} {
		min-height: 750px;
	}
	@media #{$md} {
		min-height: 700px;
	}
	@media #{$xs} {
		min-height: 550px;
	}
}
.slider__content {
	position: relative;
	z-index: 3;
	& .sub-title {
		color: white;
		font-size: 18px;
		line-height: 1;
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		display: inline-block;
	}
	& .main-title {
		color: $white;
		font-size: 85px;
		line-height: 1;
		font-family: $poppins;
		font-weight: 800;
		letter-spacing: -0.3px;
		& span {
			font-weight: 300;
		}
		@media #{$xs} {
			font-size: 40px;
		}
		@media #{$sm} {
			font-size: 40px;
		}
	}
	& .btn-list {
		li {
			display: inline-block;
			margin-right: 10px;
		}
	} 
}
.slider-area {
	& .slick-slider  {
		& button {
			opacity: 0;
			visibility: hidden;
			background: transparent;
			border: 0;
			font-size: 24px;
			position: absolute;
			top: 50%;
			z-index: 5;
			color: $white;
			border: 2px solid #666;
			border-radius: 7px;
			width: 61px;
			height: 61px;
			display: inline-block;
			left: 100px;
			text-align: center;
			line-height: 47px;
			@include transition(.4s);
			@media #{$lg} {
				left: 50px;
			}
			@media #{$md} {
				left: 50px;
			}
			@media #{$xs} {
				left: 50px;
			}
			&:hover {
				color: $heding;
				background: $theme-color;
				border-color:transparent;
			}
		}
		& .slick-next {
			left: auto;
			right: 100px;
			@media #{$lg} {
				right: 50px;
			}
			@media #{$md} {
				right: 50px;
			}
			@media #{$xs} {
				right: 50px;
			}
		}
	}
	&:hover {
		& .slick-slider {
			& button {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
//slider-area-02
.slider-area-02 {
	margin-top: -10px;
	& .slick-slider {
		& button {
			&:hover {
				color: $white;
				background: $theme-color2;
				border-color: transparent;
			}
		} 
	}
	& .right-border-shape {
		position: absolute;
		z-index: 1;
		top: -150px;
		right: 0;
	} 
}
.slider-height-02 {
	min-height:796px;
	@media #{$md} {
		min-height: 750px;
	}
	@media #{$xs} {
		min-height: 550px;
	}
	@media #{$sm} {
		min-height: 650px;
	}
}
.slider__content__02 {
	& .main-title {
		@media #{$md} {
			font-size: 70px;
		}
	}
	& h4 {
		color: $white;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 35px;
	}
}
.btn-list-02 {
	& li {
		& a {
			&.theme_btn2 {
				background: #04391B;
				color: $white;
			}
			
			&.theme-border-btn.theme_btn_bg_02 {
				color: $white;
				&::before {
					background: $theme-color2;
				}
			}
		}
	}
}