.msg-me {
	background: #f59221;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 10px;
   & i {
        color: $heding;
        font-size: 15px;
    }
    &:hover {
        background: $white;
    }
} 
.team {
    border: 1px solid $hr-border-color5;
    padding: 40px 0 40px 0;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        background: $theme-color2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        transform: translateY(0);
        transform-origin: 50% 100%;
        transform: transition;
        transition: ease-in-out;
        transition-duration: .4s;
    }
    & .team__thumb {
        display: inline-block;
    }
    &:hover {
        &::before {
            height: 100%;
            transform: translateY(1);
            transform-origin: center top;
        }
        & .team__content {
            & p {
                color: $white;
            }
            & h5 {
                color: $white;
            }
            & .more_btn {
                opacity: 0;
                visibility: hidden;
            }
        }
        & .team__social {
            bottom: -10px;
            opacity: 1;
            visibility: visible;
        }
    }
    &__content {
        position: relative;
        z-index: 1;
       & p {
            color: $theme-color2;
            font-weight: 500;
            letter-spacing: -0.3px;
            margin-bottom: 5px;
        }
        & h5 {
            font-size: 20px;
            margin-bottom: 20px;
        }
       & .more_btn {
           border: 1px solid $hr-border-color5;
           width: 35px;
           height: 35px;
           line-height: 35px;
           text-align: center;
           display: inline-block;
            & i {
                font-size: 13px;
                color:$theme-color2;
            }
        }
    }
}  
 .team__social {
     opacity: 0;
     visibility: hidden;
     position: absolute;
     left: 0;
     right: 0;
     bottom: -90px;
     @include transition(.4s);
     & li {
        display: inline-block;
        &  a {
            width: 35px;
            height: 35px;
            display: block;
            color: $heding;
            font-size: 14px;
            overflow: hidden;
            line-height: 35px;
            position: relative;
            text-align: center;
            background-color: $theme-color;
            & i {
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                transition: all 0.3s ease-in-out;
            }
            & i:nth-child(1) {
                top: 55%;
                transform: translate(-50%, -55%);
            }
            & i:nth-child(2) {
                top: 100%;
                opacity: 0;
            }
            &:hover i:nth-child(1) {
                color: $white;
                top: -55%;
                opacity: 1;
            }
            &:hover i:nth-child(2) {
                color: $white;
                top: 55%;
                opacity: 1;
                transform: translate(-50%, -55%);
            }
        }
     }
 }
