//testimonial-area
.testimonial-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    & .white-title {
        & h6 {
            color:$white;
            &.left-line {
                &::before {
                    background: $white;
                }
                &::after {
                    background: $white;
                }
            }
        }
    }
}
.testimonial-item {
    position: relative;
    z-index: 1;
    padding: 50px 70px 42px 60px;
    @media #{$md} {
        padding:50px 15px 42px 15px;
    }
    @media #{$xs} {
        padding:50px 10px 42px 10px;
    }
    &::before {
        content: '';
        position: absolute;
        clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
        background: $white;
        width: 100%;
        height: 316px;
        left: 0;
        bottom:0;
        z-index: -1;
        @media #{$lg} {
            height: 355px;
        }
        @media #{$md} {
            height: 355px;
        }
        @media #{$xs} {
            height: 370px;
        }
    }
    & p {
        color: $body-text-color3;
    }
    & .review-icon {
        & a {
            color: $theme-color;
            font-size: 15px;
            margin-right: 3px;
        }
    }
}
.author-img {
    & .author-avatar {
        position: relative;
        &::before {
            content: '\f10e';
            font-family: 'Font Awesome 5 pro';
            font-size: 15px;
            color: #1a1e2d;
            position: absolute;
            background: #f59221;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            text-align: center;
            line-height: 45px;
            right: 0;
            bottom: -18px;
            z-index: 1;
        }
    }
        
}
.author-content {
   & h5 {
        letter-spacing: 0;
        & .desig {
            color: $theme-color2;
            font-size: 15px;
            font-weight: 500;
        }
        &.left-line {
            &::before {
                background: $theme-color2;
                width: 25px;
                height: 2px;
            }
        }
    }
}
//teastimonial-area-02
.testimonial-item-02 {
    padding: 0;
    padding-right: 70px;
    @media #{$lg} {
        padding-right: 0;
    }
    @media #{$md} {
        padding-right: 0;
    }
    @media #{$xs} {
        padding-right: 0;
    }
    & .author-img {
        margin-top: 15px;
        & .author-avatar {
            display: inline-block;
             &::before {
                 width: 40px;
                 height: 40px;
                 line-height: 40px;
                 right: -23px;
                 top: -12px;
             }
         } 
     }
    & .section-title {
        & h6 {
            &.left-line {
                &::after {
                    display: none;
                } 
            } 
        } 
    } 
}
.testimonial-img-box {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        border: 12px solid #04391B;
        width: 90px;
        height: 90px;
        right: 125px;
        top: 92px;
        border-radius: 50%;
        animation: heartbeat infinite 5s alternate-reverse;
    }
    & .img-item {
        position: relative;
    }
   & .img-item-two {
        position: relative;
        z-index: 2;
        margin-top: -70px;
        margin-left: 70px;
        @media #{$lg} {
            margin-top: 0;
            margin-left: 0;
        }
        @media #{$md} {
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 50px;
            & img {
                width: 100%;
            }
        }
        @media #{$xs} {
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 50px;
            & img {
                width: 100%;
            }
        }
    }
   & .img-item-three {
        position: absolute;
        z-index: 1;
        bottom: -35px;
        left: 53px;
    }
}
.testimonial-inner {
    & .semi-title {
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.4;
        margin-bottom: 25px;
    }
}
.testimonial-active2 {
       &.slick-slider {
            & button {
                background: transparent;
                border: 0;
                font-size: 18px;
                position: absolute;
                bottom: -10px;
                z-index: 5;
                color: $theme-color2;
                border: 2px solid #666;
                border-radius: 7px;
                width: 48px;
                height: 48px;
                display: inline-block;
                left: 25px;
                text-align: center;
                line-height: 47px;
                cursor: pointer;
                -webkit-transition: all 0.4s ease-out 0s;
                -moz-transition: all 0.4s ease-out 0s;
                -ms-transition: all 0.4s ease-out 0s;
                -o-transition: all 0.4s ease-out 0s;
                transition: all 0.4s ease-out 0s;
                &:hover {
                    color: $white;
                    background: $theme-color2;
                    border-color: $theme-color2;
                }
            }
            & .slick-next {
                margin-left: 60px;
            }
        } 
}
