// Font Family
$poppins: 'Poppins', sans-serif;



// Colors ---------------
$white: #ffffff;
$black: #222;
$black2: #1b1f2e;
$black3: #08133b;
$grey:#f6f3f1;
$grey2:#a1a4af;
$grey3:#f5f6fa;
$theme-color: #fed857;
$theme-color2: #04391B;
$theme-color3: #21d482;
$body-text-color: #716ca2;
$body-text-color2: #696969;
$body-text-color3: #838694;
$body-text-color4: #9197ae;
$body-text-color5: #616161;
$body-text-color6: #6a6a6a;
$body-text-color7: #666666;
$hr-border-color:#414657;
$hr-border-color2:#696f82;
$hr-border-color3:#e0e3e1;
$hr-border-color4:#e9e9e9;
$hr-border-color5:#e5e5e5;
$hr-border-color6:#f2f2f2;
$hr-border-color7:#252a3d;
$hr-border-color8:#f3f3f3;
$hr-border-color9:#e2e2e2;
$hr-border-color10:#ececec;
$hr-border-color11:#e7e7e7;


// Heading Color
$heding: #1a1e2d;
$heding2: #23293e;



// Responsive Variables
$xxl: 'only screen and (min-width: 1601px) and (max-width: 1920px)';
$xl: 'only screen and (min-width: 1601px) and (max-width: 1800px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

  