* {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100vw;
  height: 100%;
}

.connect-container {
  width: 90%;
  height: 60vh;
  margin: 100px auto;
  height: 60vh;
  font-family: "poppins", sans-serif;
  display: inline-flex;
  gap: 5%;
  /* background: grey; */
  padding: 10px;
}
.connect-content {
  width: 50%;
}

.connect-icons {
  width: 45%;
  height: 100%;
  background: white;
  position: relative;
}
.square {
  height: 60%;
  width: 60%;
  background: rgba(0, 217, 255, 0.3);
  /* margin: auto; */
  transform: translate(30%, 30%);
}
.mbaza-hand {
  height: 60%;
  width: 40%;
  border-radius: 50%;
  background: rgb(59, 59, 167);
  /* margin: auto; */
  transform: translate(70%, 30%);
}

.social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 0.3px solid black; */
  position: absolute;
  background: white;
  box-shadow: 1px 1px 10px 1px rgb(83, 82, 82);
  transform: scale(0.8);
  cursor: pointer;
  transition: 0.4s;
}
.social-icon img {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  transform: translate(30%, 30%);
}
.social-icon1 {
  top: 8%;
  left: 20%;
}
.social-icon2 {
  top: 35%;
  left: 12%;
}
.social-icon3 {
  top: 0%;
  left: 50%;
}
.social-icon4 {
  right: 20%;
}
.social-icon5 {
  top: 60%;
  left: 30%;
}
.social-icon6 {
  bottom: 10%;
  left: 56%;
}
.social-icon7 {
  top: 8%;
  right: 17%;
}
.social-icon8 {
  top: 40%;
  right: 21%;
}
.social-icon9 {
  top: 20%;
  left: 60%;
  /* background: red; */
}
.social-icon:hover {
  /* transform: scaleY(1); */
  box-shadow: 1px 1px 15px 1px rgb(47, 47, 47);
}
.connect-content {
  padding: 30px;
}
.connect-content h2 {
  text-align: center;
  margin-bottom: 20px;
}
.connect-content p {
  font-size: 1.1em;
  line-height: 150%;
}
.connect-content a {
  margin: 5px;
}
@media screen and (max-width: 800px) {
  .connect-container {
    display: block;
  }
  .connect-icons {
    width: 100%;
  }
  .connect-content {
    width: 100%;
  }
}
