* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 10% 0 0 10%;
    font-family: sans-serif;
  }
  body h3 {
    padding-left: 40px;
  }
  form {
    margin-top: 20px;
    margin-left: 50px;
    width: 56%;
    height: 70vh;
    padding: 40px 0 0 200px;
    background-color: #ddd8d8;
    border-radius: 5px;
  }
  .input-box {
    padding-bottom: 30px;
  }
  .input {
    padding: 10px 200px 10px 0;
  }
  input[type] {
    border: none;
    border-radius: 10px;
  }
  button {
    padding: 8px 30px;
    border-radius: 10px;
    border: none;
    background-color: #f59221;
  }
  button a {
    text-decoration: none;
    color: black;
  }
  #text {
    padding-top: 15px;
    font-size: 12px;
  }
  