body{
    font-family: Optimistic Text,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin:0;
    padding:0;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Optimistic Text,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.headerSection nav{
    width: 100%;
    height: 50px;
    background-color: #28738A;
}
.headerSection nav ul{
   margin-right: 20px;
   float: right;
   padding-top: -60px;
}
.headerSection nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 25px;   
}
.headerSection li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.headerSection li a:hover{
    color: orange;
}
.headerSection .toggle i{
    display: none;
}
.headerSection .dropdown-menu{
    position: absolute;
    top: 60px;
    right: -100px;
    width: 300px;
}
.headerSection .dropdown-menu ul li{
display: block;
}
.headerSection .dropdown-menu li a{
    color:white;
    background:  rgb(11, 154, 154);
}

@media screen and (max-width:900px)
{
    .headerSection nav{
        width: 300px;
        height: 250px;
        position: static;
    }
    .headerSection nav ul{
        padding: 5px;
        margin: 0 10px;
    }
    .headerSection nav ul li{
        /* align-items: center;
        margin: auto; */
        display: block;
        object-fit: fill;
    }
    .headerSection nav li a {
        justify-content: center;

    }

}
@media screen and (max-width:1200px){
    .headerSection nav{
        width: 900px;
        height: 400px;
    }
    .headerSection nav ul li {
        display: block;
        object-fit: fill;
    }
}

.hero {
    position: relative;
    height: 60vh;
    width: 100%;
    background-image: url("../img/project/NPL30-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dark-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.1) 100%);
}
.content-layer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 10%;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.content-logo{
    height: inherit;
    margin-top:2em;
}
.content-left {
    flex: 1;
    text-align: center;
}
.content-right {
    flex: 1;
    font-size: 20px;
}

.content-left-top {
	margin-bottom: 1em;
    font-size: 50px;
}
.content-left-top h1{
    margin-bottom: 0;
}
.content-left-top span{
    font-weight: 400;
}

.content-left-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.btn-explore {
	background-color: #c5761d;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 20px 40px;
	margin-right: 1em;
	cursor: pointer;
    font-weight: bold;
    font-size: 1.0rem;
}
.btn-explore:hover{
    background-color: #F59221;
}

.btn-contact {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 30px;
	padding: 20px 40px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	cursor: pointer;
    font-weight: bold;
    font-size: 1.0rem;
}
.date-section {
	display: flex;
	align-items: center;
	color: white;
}

.date-icon {
	margin-right: 1em;
	font-size: 2em;
}

.date-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.date-day {
	font-size: 1.8em;
	margin-bottom: -0.2em;
}

.date-month {
	font-size: 2em;
	font-weight: bold;
    color:#A2B9C1;
}

.location-section {
	display: flex;
	align-items: center;
	color: white;
}

.location-icon {
	margin-right: 1em;
	font-size: 2em;
}

.location-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.location-city {
	font-size: 1.5em;
}

.location-building {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.5em;
}
#location-building{
    color: #A2B9C1
}

.location-floor {
	font-size: 1.2em;
}

.event-section {
	margin-top: 1em;
}
.event-section h2{
    font-weight: 400;
}

hr {
	width: 250px;
	border: 1px solid white;
	margin: 1em auto;
    margin-left: 0;
}


.intro {
    width: 80%;
    margin: auto;
    border: 1px solid red;
    font-size: 20px;
    /* color: blue; */
}

.intro-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.africa-img {
    width: 40%;
    position: relative;
}



.africa-img img {
    width: 100%;
}

.left-side {
    width: 60%;
}

.lower {
    width: 100%;
    display: flex;
    gap: 5rem;
    flex-direction: row;
    margin-top: 100px;
}

.lower-right {
    width: 50%;
}

.lower-left {
    width: 50%;
}
.lower-left p{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
.lower-right p{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.welcoming-part {
    margin: 50px 10px 0px 100px;
}
.welcoming-part p{
    font-size: 20px;
    text-align: center;
}

.welcoming-part h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.lower-left h2 {
    display: flex;
    justify-content: center;
  
}

.lower-right h2 {
    display: flex;
    justify-content: center;
 
}
.intro hr{
    width: 13px;
   font-weight: bold;
    font-size: medium;
    color: black;
    margin: auto;
}

.big {
    background-color: rgb(40, 115, 138);
    width: 100vw;
    height: 250px;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .big .our-bg {
    /* border: 2px solid red; */
    width: 100vw inherit;
    font-weight: bold;
    font-size: 20px;
    padding-left: 47vw;
    color: #fff;
    padding-top: 6vh;
  }
  .big p {
    /* border: 2px solid red; */
    width: 100vw inherit;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    margin-bottom: -10px;
  }
  .big .paragrapgh-bg1 {
    width: 100vw inherit;
    padding-left: 40vw;
  }
  .big .paragrapgh-bg2 {
    width: 100vw inherit;
    padding-left: 38vw;
  }
  .big .paragrapgh-bg3 {
    width: 100vw inherit;
    padding-left: 35vw;
  }
  .big .paragrapgh-bg4 {
    width: 100vw inherit;
    padding-left: 35vw;
  }
  .big .paragrapgh-bg5 {
    width: 100vw inherit;
    padding-left: 45vw;
  }
  
  .blog {
    /* margin: auto; */
    display: flex;
    gap: 15%;
    margin: 20px auto;
    /* border: 1px solid red; */
    flex-direction: row;
    /* align-items: center; */
    justify-content:center;
    width: 80%;
    border:1px solid blue;
    font-size: 20px;
    padding: 10px 0px;
    }
    .introduction{
        order: 1;
        /* border: 1px solid blue; */
        /* display: flex; */
    }
    .introduction .introduction1{
        display: flex;
        border-radius: 20px 20px 10px 10px;
        
    }
    .introduction1 img{
        width: 140px;
        padding-bottom: 20px;
       
    }
    .paragraph {
    padding-top: 15px;
    }
    .paragraph .intro{
        padding-left: 20px;
        width: 220px;
        font-size: 17px;
    }
    .paragraph .date{
        padding-top: 6px;
        padding-left: 20px;
    font-size: 13px;
    }
    .introduction .introduction2{
        display: flex;
    }
    .introduction2 img{
        width: 140px;
        padding-bottom: 20px;
    }
    
    .introduction .introduction3{
        display: flex;
    }
    .introduction3 img{
        width: 140px;
    }
    .insights {
    width: 420px;
    order: 2;
    /* border: 1px solid blue; */
    }
    .insights h2{
        padding-bottom: 20px; 
        text-align: center; 
    }
    .insights p{
        text-align: left;
    }
    .insights h4{
        text-align: center;
    }
    .insights a:hover{
        color:#28738A;
        cursor: pointer;
    }
    .insights a{
      color:#28738A;
    }
    .connect-container{
      margin: auto;
    }
    
    /* RESPONSIVENESS */
    
    @media screen and (max-width:400px){
     .blog{
        flex-direction: column;
        width: 100%;
     }
     .introduction{
        order: 2;
     }
     .insights{
        order: 1;
     }
     .insights h2{
    height: 50px;
    font-size: 20px;
     }
     .insights p{
        width: 280px;
        height: 230px;
        font-size: 15px;
     }
     .insights h3{
        height: 50px;
        font-size: 16px;
        margin-right: 140px;
     }
        .introduction1 img{
        width: 100px;
      }  
      .introduction2 img{
        width: 100px;
      }  
      .introduction3 img{
        width: 100px;
      }  
      .paragraph{
        padding-top: 6px;
      }
    .paragraph .intro{
        font-size: 14px;
    }
    .paragraph .date{
        font-size: 12px;
    }
    }
    
    @media screen and (max-width:600px){
        .blog{
           flex-direction: column;
           width: 100%;
        }
        .introduction{
           order: 2;
        }
        .insights{
           order: 1;
        }
        .insights h2{
       height: 50px;
       font-size: 24px;
        }
        .insights p{
           width: 350px;
           height: 280px;
           font-size: 18px;
        }
        .insights h3{
           height: 60px;
           font-size: 18px;
           margin-right: 140px;
        }
           .introduction1 img{
           width: 120px;
         }  
         .introduction2 img{
           width: 120px;
         }  
         .introduction3 img{
           width: 120px;
         }  
         .paragraph{
           padding-top: 6px;
         }
       .paragraph .intro{
           font-size: 18px;
       }
       .paragraph .date{
           font-size: 15px;
       }
       }
      
      .connect-icons {
        width: 45%;
        height: 100%;
        background: white;
        position: relative;
      }
  
      @media screen and (max-width: 800px) {
     
        .connect-icons {
          width: 100%;
        }
      }
    footer{
        width: 100%;
        background-color: #28738A;
    }
    
    
    .icons1 img{
         width: 32px;
        height: 32px;
        padding: 5px 5px;
      }
    #foater{
        gap: 5%;
        display: flex;
        justify-content: center;
       
    }
    #foater h3{
        margin-top: 30px;
        color:#fff;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }
    #foater span{
        font-size: 15px;
        display:block;
        font-style: normal;
       
        line-height: 35px;
        color: rgb(255, 255, 255);
        opacity: 0.7;
    }
    
    
    .copy{
        gap: 2%;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        padding-bottom: 20px;
    }
    .copy p{
        color: rgb(255, 255, 255);
        opacity: 0.7;
        font-size: 15px;
    text-align: inherit;
    }
    .copy p a{
        font-style: normal;
        color: rgb(241, 145, 18);
        font-weight: 900;
    }