body {
  margin: 0px;
  border: 0px;
  color: fff;
}
.stats{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    margin: 65px;
    font-family: sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.stat{
    /* border: 2px solid blue; */
    font-size: 30px;
    margin: 5px 0px 0px 0px;
    font-size: 17px;
    width: 45px;
    height: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.chart1{
/* border: 2px solid red; */
margin: 35px 0px 0px 0px;
height: 244px;
width: 392px;

}
.chart2{
    /* border: 2px solid blueviolet; */
    margin: 120px 120px 0 100px;
    height: 302px;
    width: 439;
}
