body{
    width: 100vw;
    height: 100vh;
}
.prodContainer{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.container{
    border: 1px solid;
    margin-top: 0%;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
     margin-right: 30px;
    width: 21% ;
    height:9% ;
}

.first {
    padding-right: 10px;
    margin-bottom: -20px;
}

  
 
   
.first {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.first p{
   font-family: sans-serif;
    
    font-weight: bolder;
}
.first img{
  padding-top: 15px;
    height: 19px;
}
.first {
    padding-right: 10px;
    margin-bottom: -20px;
}

  
 
   

.second img{
    padding-left: 49px;
     height: 100px;
}
.second-img{
    padding-left: 49px;
     height: 109px;
     padding-top: 25px;
 
}

.secon img{
    height: 73px;
    padding-left: 100px;
}
.third h3{
    padding-left: 70px;
    font-size: 14px;
     font-family: sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}



.third p{
        font-family: sans-serif;
    font-size: small;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
}


.third {
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-size: 10px;
}
.third span{
    align-items: center;
    justify-content: center;
    padding-left: 65px;
}


.fourth{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fourth p{
    
    font-size:14px;
    cursor: pointer;
}

 .read{
  

}
