/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"); */
body {
  margin: 0px;
  border: 0px;
  color: #000;
  background: #f5f5f5;
}
.stats {
  /* border: 2px solid green; */
  width: 70%;
  height: 250px;
  display: flex;
  font-family: sans-serif;
}
.stat {
  /* border: 2px solid blue; */
  font-size: 30px;
  margin: 5px 0px 0px 0px;
  font-size: 17px;
  width: 3%;
  height: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
.stats-container {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
}
.chart1 {
  /* border: 2px solid red; */
  margin: 2% 10% 0% 2%;
  width: 50%;
}
.chart1 img {
  /* border: 1px solid #699bf7; */
  height: 100%;
}
.chart2 {
  /* border: 2px solid blueviolet; */
  margin: 10% 0% 0% 0%;
  width: 50%;
}
.chart2 img {
  /* border: 2px solid blueviolet; */
  height: 100%;
}
.container {
  /* border: 1px solid red; */
  height: 10vh;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 400px;
}
.heading {
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.heading::before {
  content: "";
  background: #000100;
  display: block;
  margin-left: 20px;
  height: 1px;
  width: 50px;
}
.heading::after {
  content: "";
  background: #000100;
  margin-left: 20px;
  display: block;
  width: 50px;
  height: 1px;
}
.text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 0px;

  color: #000000;
}
.text h1 i {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 0px;
}
em {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #699bf7;
}
i {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.text p {
  padding-bottom: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 19px;
  color: #000000;
}
.metrics {
  display: flex;
  margin-left: 19px;
}
.metrics small {
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}
.number b img {
  display: inline;
}
.number {
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}
.cont1 {
  /* border: 2px solid green; */
  width: 90%;
  margin-top: 3%;
}
.feed-txt {
  /* border: 1px solid yellow; */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.cont2 {
  /* border: 2px solid navy; */
  width: 90%;
}
.txt1 {
  /* border: 1px solid purple; */
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 50px;
  font-size: 13px;
}
.three {
  /* border: 1px solid red; */
  font-weight: normal;
}
.txt2 {
  /* border: 1px solid plum; */
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 10px;
  margin-left: 70px;
}
.bttn {
  /* border: 2px solid tomato; */
  border: 0px;
  width: 12%;
  height: 25px;
  background-color: orange;
  border-radius: 50px;
  font-family: sans-serif;
  margin: 0% 4% 0% 2%;
}
.box {
  /* border: 2px solid red; */
  display: flex;
  height: 100%;
  width: 90%;
  margin: 5% 0% 20% 5%;
}
.box1 {
  border: 1px solid #000;
  height: 250px;
  width: 85%;
  border-radius: 15px;
  margin: 3% -4% 0% 0%;
}

.img1 {
  /* border: 1px solid green; */
  height: 40%;
  width: 50%;
  margin: 3% 0% 0% 25%;
}
.img2 {
  /* border: 1px solid green; */
  height: 30%;
  width: 65%;
  margin: 0% 0% 0% 20%;
}
.img3 {
  /* border: 1px solid green; */
  height: 35%;
  width: 35%;
  margin: 0% 0% 0% 32%;
}
.box2 {
  border: 1px solid #000;
  height: 250px;
  width: 85%;
  border-radius: 15px;
  margin: 3% -4% 0% 10%;
}
.box3 {
  border: 1px solid #000;
  height: 250px;
  width: 85%;
  border-radius: 15px;
  margin: 3% 0% 0% 10%;
}
.tex {
  /* border: 1px solid red; */
  width: 50%;
  font-weight: bold;
  font-size: 15px;
  margin: 2% 0% 0% 20%;
}
.smll-txt {
  /* border: 2px solid green; */
  width: 90%;
  font-size: 2px;
  margin: 2% 0% 0% 15%;
}
.smll-txt1 {
  /* border: 2px solid greenyellow; */
  width: 40%;
  font-size: 13px;
  margin: 2% 0% 0% 32%;
}
.smll-txt2-1 {
  /* border: 1px solid yellow; */
  width: 85%;
  font-size: 2px;
  margin: 2% 7% 0% 0%;
}
.smll-txt2 {
  /* border: 1px solid red; */
  width: 43%;
  font-size: 13px;
  margin: 2% 0% 0% 30%;
}
.l1 {
  /* border: 1px solid plum; */
  width: 100%;
  font-size: 13px;
  margin-left: 6%;
}
.l2 {
  /* border: 1px solid plum; */
  width: 90%;
  font-size: 13px;
  margin-left: 29%;
}
.l3 {
  /* border: 1px solid plum; */
  width: 86%;
  font-size: 13px;
  margin-left: 15%;
}
.read1 {
  /* border: 2px solid blue; */
  width: 15%;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: 10px;
  margin: -7% 0% 0% 70%;
}
.read2 {
  /* border: 2px solid blue; */
  width: 15%;
  font-family: sans-serif;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 10px;
  margin: -7% 0% 0% 80%;
}
.read3 {
  /* border: 2px solid blue; */
  width: 15%;
  font-family: sans-serif;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 10px;
  margin: -7% 0% 0% 80%;
}
.l1 {
  /* border: 1px solid plum; */
  width: 85%;
  font-family: sans-serif;
  font-weight: 10px;
  margin: 2% 0% 0% 10%;
}
.l2 {
  /* border: 1px solid plum; */
  font-family: sans-serif;
  width: 75%;
  font-size: 9px;
  font-weight: 10px;
  margin: 2% 0% 0% 10%;
}
.l3 {
  /* border: 1px solid plum; */
  font-family: sans-serif;
  width: 72%;
  font-size: 9px;
  font-weight: 10px;
  margin: 2% 0% 0% 0%;
}
.pgn1 {
  /* border: 1px solid purple; */
  height: 20px;
  width: 20px;
  margin: 3% 0% 0% 2%;
}
.pgn2 {
  /* border: 1px solid yellow; */
  height: 20px;
  width: 20px;
  margin: 3% 0% 0% 2%;
}
.pgn3 {
  /* border: 1px solid yellow; */
  height: 20px;
  width: 20px;
  margin: 3% 0% 0% 2%;
}
/* 
*/
/* 
*/
@media screen and (max-width: 1024px) {
  .stats {
    /* border: 2px solid green; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* margin: 65px; */
    font-family: sans-serif;
  }
  .stat {
    /* border: 2px solid blue; */
    font-size: 30px;
    margin: 5px 0px 0px 0px;
    font-size: 17px;
    width: 3%;
    height: 20px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .stats-container {
    width: 95%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
  }
  .chart1 {
    /* border: 2px solid red; */
    margin: 5% 0% 0% 0%;
    height: 250px;
    width: 50%;
  }
  .chart1 img {
    /* border: 1px solid #699bf7; */
    height: 200px;
    width: 95%;
  }
  .chart2 {
    /* border: 2px solid blueviolet; */
    margin: 15% 0 0 0;
    padding-bxottom: 5%;
    height: 250px;
    width: 47%;
  }
  .chart2 img {
    /* border: 2px solid blueviolet; */
    height: 200px;
    width: 95%;
  }
  .bttn {
    /* border: 2px solid tomato; */
    width: 100px;
    height: 23px;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 15px;
  }
  .box {
    /* border: 2px solid red; */
    display: flex;
    height: 100%;
    width: 90%;
    margin: 5% 0% 20% 5%;
  }
  .box1 {
    height: 250px;
    width: 85%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }

  .img1 {
    /* border: 1px solid green; */
    height: 40%;
    width: 50%;
    margin: 3% 0% 0% 5%;
  }
  .img2 {
    /* border: 1px solid green; */
    height: 30%;
    width: 65%;
    margin: 0% 0% 0% 5%;
  }
  .img3 {
    /* border: 1px solid green; */
    height: 35%;
    width: 35%;
    margin: 0% 0% 0% 5%;
  }
  .box2 {
    height: 250px;
    width: 85%;
    border-radius: 15px;
    margin: 3% -4% 0% 10%;
  }
  .box3 {
    height: 250px;
    width: 85%;
    border-radius: 15px;
    margin: 3% 0% 0% 10%;
  }
  .tex {
    /* border: 1px solid red; */
    width: 90%;
    font-weight: bold;
    font-size: 15px;
    margin: 2% 0% 0% 15%;
  }
  .smll-txt {
    /* border: 2px solid green; */
    width: 90%;
    font-size: 2px;
    margin: 2% 0% 0% 15%;
  }
  .smll-txt1 {
    /* border: 2px solid greenyellow; */
    width: 40%;
    font-size: 13px;
    margin: 2% 0% 0% 32%;
  }
  .smll-txt2-1 {
    /* border: 1px solid yellow; */
    width: 98%;
    font-size: 2px;
    margin: 2% 7% 0% 0%;
  }
  .smll-txt2 {
    /* border: 1px solid red; */
    width: 43%;
    font-size: 13px;
    margin: 2% 0% 0% 30%;
  }
  .l1 {
    /* border: 1px solid plum; */
    width: 100%;
    font-size: 13px;
    margin-left: 6%;
  }
  .l2 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin-left: 29%;
  }
  .l3 {
    /* border: 1px solid plum; */
    width: 86%;
    font-size: 13px;
    margin-left: 15%;
  }
  .read1 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -6% 0% 0% 70%;
  }
  .read2 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -7% 0% 0% 70%;
  }
  .read3 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .pgn1 {
    /* border: 1px solid yellow; */
    margin: 9% 0% 0% -80%;
  }
  .pgn2 {
    /* border: 1px solid yellow; */
    margin: 15% 0% 0% -80%;
  }
  .pgn3 {
    /* border: 1px solid yellow; */
    margin: -2% 0% 0% -80%;
  }
}
/* 
*/
/* 
*/
/* 
*/
@media screen and (max-width: 768px) {
  .stats {
    /* border: 2px solid green; */
    width: 90%;
    height: 300px;
    flex-direction: column;
  }
  .stats-container {
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
  }
  .chart1 {
    /* border: 2px solid red; */
    margin: 0% 0% 0% 0%;
    height: 200px;
    width: 90%;
  }
  .chart1 img {
    /* border: 1px solid #699bf7; */
    height: 200px;
    width: 97%;
  }
  .chart2 {
    /* border: 2px solid blueviolet; */
    margin: 6% 0% 0% 0%;
    padding-bottom: 5%;
    height: 200px;
    width: 100%;
  }
  .chart2 img {
    /* border: 2px solid blueviolet; */
    height: 190px;
    width: 99%;
  }
  .bttn {
    /* border: 2px solid tomato; */
    width: 45%;
    height: 25px;
    font-size: 15px;
    margin-left: 5%;
  }
  .box {
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-left: 7%;
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box1 {
    height: 200px;
    width: 45%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .img1 {
    /* border: 1px solid green; */
    height: 40%;
    width: 50%;
    margin: 3% 0% 0% 5%;
  }
  .img2 {
    /* border: 1px solid green; */
    height: 30%;
    width: 65%;
    margin: 0% 0% 0% 5%;
  }
  .img3 {
    /* border: 1px solid green; */
    height: 35%;
    width: 35%;
    margin: 0% 0% 0% 5%;
  }
  .box2 {
    height: 200px;
    width: 45%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .box3 {
    height: 200px;
    width: 45%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .tex {
    /* border: 1px solid red; */
    width: 90%;
    font-weight: bold;
    font-size: 15px;
    margin: 2% 0% 0% 15%;
  }
  .smll-txt {
    /* border: 2px solid green; */
    width: 80%;
    margin: 2% -5% 0% 0%;
  }
  .smll-txt1 {
    /* border: 2px solid greenyellow; */
    width: 40%;
    margin: 2% -10% 0% 0%;
  }
  .smll-txt2-1 {
    /* border: 1px solid yellow; */
    width: 93%;
    font-size: 13px;
    margin: 2% -5% 0% 0%;
  }
  .smll-txt2 {
    /* border: 1px solid red; */
    width: 45%;
    font-size: 13px;
    margin: 2% -10% 0% 0%;
  }
  .l1 {
    /* border: 1px solid plum; */
    width: 87%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .l2 {
    /* border: 1px solid plum; */
    width: 80%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .l3 {
    /* border: 1px solid plum; */
    width: 80%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .read1 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .read2 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -7% 0% 0% 70%;
  }
  .read3 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .pgn1 {
    /* border: 1px solid yellow; */
    margin: 3% 0% 0% -80%;
  }
  .pgn2 {
    /* border: 1px solid yellow; */
    margin: 12% 0% 0% -80%;
  }
  .pgn3 {
    /* border: 1px solid yellow; */
    margin: 4% 0% 0% -80%;
  }
}
/* 
*/
/* 
*/
/* 
*/
@media screen and (max-width: 650px) {
  .stats {
    /* border: 2px solid green; */
    width: 90%;
    height: 300px;
    flex-direction: column;
  }
  .stats-container {
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
  }
  .chart1 {
    /* border: 2px solid red; */
    margin: 0% 0% 0% 0%;
    height: 200px;
    width: 90%;
  }
  .chart1 img {
    /* border: 1px solid #699bf7; */
    height: 200px;
    /* width: 97%; */
  }
  .chart2 {
    /* border: 2px solid blueviolet; */
    margin: 6% 0% 0% 0%;
    padding-bottom: 5%;
    height: 200px;
    width: 70%;
  }
  .chart2 img {
    /* border: 2px solid blueviolet; */
    height: 190px;
    /* width: 70%; */
  }
  .bttn {
    /* border: 2px solid tomato; */
    width: 45%;
    height: 25px;
    font-size: 15px;
    margin-left: 5%;
  }
  .box {
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-left: 7%;
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box1 {
    height: 200px;
    width: 30px;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .img1 {
    /* border: 1px solid green; */
    height: 40%;
    width: 50%;
    margin: 3% 0% 0% 5%;
  }
  .img2 {
    /* border: 1px solid green; */
    height: 30%;
    width: 65%;
    margin: 0% 0% 0% 5%;
  }
  .img3 {
    /* border: 1px solid green; */
    height: 35%;
    width: 35%;
    margin: 0% 0% 0% 5%;
  }
  .box2 {
    height: 200px;
    width: 45%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .box3 {
    height: 200px;
    width: 45%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .tex {
    /* border: 1px solid red; */
    width: 90%;
    font-weight: bold;
    font-size: 15px;
    margin: 2% 0% 0% 15%;
  }
  .smll-txt {
    /* border: 2px solid green; */
    width: 80%;
    margin: 2% -5% 0% 0%;
  }
  .smll-txt1 {
    /* border: 2px solid greenyellow; */
    width: 40%;
    margin: 2% -10% 0% 0%;
  }
  .smll-txt2-1 {
    /* border: 1px solid yellow; */
    width: 93%;
    font-size: 13px;
    margin: 2% -5% 0% 0%;
  }
  .smll-txt2 {
    /* border: 1px solid red; */
    width: 45%;
    font-size: 13px;
    margin: 2% -10% 0% 0%;
  }
  .l1 {
    /* border: 1px solid plum; */
    width: 87%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .l2 {
    /* border: 1px solid plum; */
    width: 80%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .l3 {
    /* border: 1px solid plum; */
    width: 80%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .read1 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .read2 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -7% 0% 0% 70%;
  }
  .read3 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .pgn1 {
    /* border: 1px solid yellow; */
    margin: 3% 0% 0% -80%;
  }
  .pgn2 {
    /* border: 1px solid yellow; */
    margin: 12% 0% 0% -80%;
  }
  .pgn3 {
    /* border: 1px solid yellow; */
    margin: 4% 0% 0% -80%;
  }
}
/* 
 */
/*  
 */
/*  
 */
@media screen and (max-width: 600px) {
  .stats {
    /* border: 2px solid green; */
    width: 90%;
    height: 300px;
    flex-direction: column;
  }
  .stats-container {
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
  }
  .chart1 {
    /* border: 2px solid red; */
    margin: 0% 0% 0% 0%;
    height: 200px;
    width: 90%;
  }
  .chart1 img {
    /* border: 1px solid #699bf7; */
    height: 200px;
    width: 97%;
  }
  .chart2 {
    /* border: 2px solid blueviolet; */
    margin: 6% 0% 0% 0%;
    padding-bottom: 5%;
    height: 200px;
    width: 100%;
  }
  .chart2 img {
    /* border: 2px solid blueviolet; */
    height: 190px;
    width: 99%;
  }
  .cont1 {
    /* border: 2px solid green; */
    width: 80%;
    margin-left: 8px;
  }
  .feed-txt {
    /* border: 1px solid orange; */
    font-size: 15px;
  }
  .cont2 {
    /* border: 2px solid navy; */
    width: 75%;
    padding-top: 4px;
    margin: 20px 0px 0px 35px;
  }
  .txt1 {
    /* border: 1px solid purple; */
    font-size: 15px;
  }
  .txt2 {
    /* border: 1px solid plum; */
    font-size: 13px;
    margin-left: 15px;
  }
  .bttn {
    /* border: 2px solid tomato; */
    width: 30%;
    height: 25px;
    font-size: 15px;
    margin-left: 5%;
  }
  .box {
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-left: 7%;
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box1 {
    height: 200px;
    width: 51%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .img1 {
    /* border: 1px solid green; */
    height: 40%;
    width: 50%;
    margin: 3% 0% 0% 5%;
  }
  .img2 {
    /* border: 1px solid green; */
    height: 30%;
    width: 65%;
    margin: 0% 0% 0% 5%;
  }
  .img3 {
    /* border: 1px solid green; */
    height: 35%;
    width: 35%;
    margin: 0% 0% 0% 5%;
  }
  .box2 {
    height: 200px;
    width: 51%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .box3 {
    height: 200px;
    width: 51%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .tex {
    /* border: 1px solid red; */
    width: 90%;
    font-weight: bold;
    font-size: 15px;
    margin: 2% 0% 0% 15%;
  }
  .smll-txt {
    /* border: 2px solid green; */
    width: 90%;
    margin: 2% 0% 0% 0%;
  }
  .smll-txt1 {
    /* border: 2px solid greenyellow; */
    width: 50%;
    margin: 2% -10% 0% 0%;
  }
  .smll-txt2-1 {
    /* border: 1px solid yellow; */
    width: 100%;
    font-size: 13px;
    margin: 2% 8% 0% 0%;
  }
  .smll-txt2 {
    /* border: 1px solid red; */
    width: 45%;
    font-size: 13px;
    margin: 2% -5% 0% 0%;
  }
  .l1 {
    /* border: 1px solid plum; */
    width: 99%;
    font-size: 13px;
    margin: 2% 6% 0% 0%;
  }
  .l2 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .l3 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .read1 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .read2 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -7% 0% 0% 70%;
  }
  .read3 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .pgn1 {
    /* border: 1px solid yellow; */
    margin: 3% 0% 0% -80%;
  }
  .pgn2 {
    /* border: 1px solid yellow; */
    margin: 12% 0% 0% -80%;
  }
  .pgn3 {
    /* border: 1px solid yellow; */
    margin: 4% 0% 0% -80%;
  }
}
/* 
*/
/* 
*/
/* 
*/
@media screen and (max-width: 414px) {
  .stats {
    /* border: 2px solid green; */
    width: 90%;
    flex-direction: column;
  }
  .stats-container {
    /* width: 100%; */
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .chart1 {
    /* border: 2px solid red; */
    margin: 0% 0% 0% 0%;
    height: 200px;
    width: 90%;
  }
  .chart1 img {
    /* border: 1px solid #699bf7; */
    height: 200px;
    width: 97%;
  }
  .chart2 {
    /* border: 2px solid blueviolet; */
    margin: 6% 0% 0% 0%;
    padding-bottom: 5%;
    height: 200px;
    width: 100%;
  }
  .chart2 img {
    /* border: 2px solid blueviolet; */
    height: 190px;
    width: 99%;
  }
  .cont1 {
    /* border: 2px solid green; */
    width: 80%;
    margin-left: 8px;
  }
  .feed-txt {
    /* border: 1px solid orange; */
    font-size: 15px;
  }
  .cont2 {
    /* border: 2px solid navy; */
    width: 75%;
    padding-top: 4px;
    margin: 20px 0px 0px 35px;
  }
  .txt1 {
    /* border: 1px solid purple; */
    font-size: 15px;
  }
  .txt2 {
    /* border: 1px solid plum; */
    font-size: 13px;
    margin-left: 15px;
  }
  .bttn {
    /* border: 2px solid tomato; */
    width: 45%;
    height: 20px;
    font-size: 13px;
    margin-left: 5%;
  }
  .box {
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-left: 7%;
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box1 {
    height: 200px;
    width: 75%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .img1 {
    /* border: 1px solid green; */
    height: 40%;
    width: 50%;
    margin: 3% 0% 0% 5%;
  }
  .img2 {
    /* border: 1px solid green; */
    height: 30%;
    width: 65%;
    margin: 0% 0% 0% 5%;
  }
  .img3 {
    /* border: 1px solid green; */
    height: 35%;
    width: 35%;
    margin: 0% 0% 0% 5%;
  }
  .box2 {
    height: 200px;
    width: 75%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .box3 {
    height: 200px;
    width: 75%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .tex {
    /* border: 1px solid red; */
    width: 90%;
    font-weight: bold;
    font-size: 15px;
    margin: 2% 0% 0% 15%;
  }
  .smll-txt {
    /* border: 2px solid green; */
    width: 90%;
    margin: 2% 0% 0% 0%;
  }
  .smll-txt1 {
    /* border: 2px solid greenyellow; */
    width: 50%;
    margin: 2% -10% 0% 0%;
  }
  .smll-txt2-1 {
    /* border: 1px solid yellow; */
    width: 100%;
    font-size: 13px;
    margin: 2% 6% 0% 0%;
  }
  .smll-txt2 {
    /* border: 1px solid red; */
    width: 45%;
    font-size: 13px;
    margin: 2% 5% 0% 0%;
  }
  .l1 {
    /* border: 1px solid plum; */
    width: 99%;
    font-size: 13px;
    margin: 2% 6% 0% 0%;
  }
  .l2 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .l3 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .read1 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .read2 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -7% 0% 0% 70%;
  }
  .read3 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .pgn1 {
    /* border: 1px solid yellow; */
    margin: 3% 0% 0% -80%;
  }
  .pgn2 {
    /* border: 1px solid yellow; */
    margin: 12% 0% 0% -80%;
  }
  .pgn3 {
    /* border: 1px solid yellow; */
    margin: 4% 0% 0% -80%;
  }
}
/* 
*/
/*  
*/
/*  
*/
@media screen and (max-width: 375px) {
  .stats {
    /* border: 2px solid green; */
    width: 90%;
    flex-direction: column;
  }
  .stats-container {
    /* width: 100%; */
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .chart1 {
    /* border: 2px solid red; */
    margin: 0% 0% 0% 0%;
    height: 200px;
    width: 90%;
  }
  .chart1 img {
    /* border: 1px solid #699bf7; */
    height: 200px;
    width: 97%;
  }
  .chart2 {
    /* border: 2px solid blueviolet; */
    margin: 6% 0% 0% 0%;
    padding-bottom: 5%;
    height: 200px;
    width: 100%;
  }
  .chart2 img {
    /* border: 2px solid blueviolet; */
    height: 190px;
    width: 99%;
  }
  .cont1 {
    /* border: 2px solid green; */
    width: 80%;
    margin-left: 8px;
  }
  .feed-txt {
    /* border: 1px solid orange; */
    font-size: 15px;
  }
  .cont2 {
    /* border: 2px solid navy; */
    width: 75%;
    padding-top: 4px;
    margin: 20px 0px 0px 35px;
  }
  .txt1 {
    /* border: 1px solid purple; */
    font-size: 15px;
  }
  .txt2 {
    /* border: 1px solid plum; */
    font-size: 13px;
    margin-left: 15px;
  }
  .bttn {
    /* border: 2px solid tomato; */
    width: 47%;
    height: 20px;
    font-size: 13px;
    margin-left: 7%;
  }
  .box {
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-left: 7%;
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box1 {
    height: 250px;
    width: 85%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .img1 {
    /* border: 1px solid green; */
    height: 40%;
    width: 50%;
    margin: 3% 0% 0% 5%;
  }
  .img2 {
    /* border: 1px solid green; */
    height: 30%;
    width: 65%;
    margin: 0% 0% 0% 5%;
  }
  .img3 {
    /* border: 1px solid green; */
    height: 35%;
    width: 35%;
    margin: 0% 0% 0% 5%;
  }
  .box2 {
    height: 250px;
    width: 85%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .box3 {
    height: 250px;
    width: 85%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .tex {
    /* border: 1px solid red; */
    width: 90%;
    font-weight: bold;
    font-size: 15px;
    margin: 2% 0% 0% 15%;
  }
  .smll-txt {
    /* border: 2px solid green; */
    width: 90%;
    margin: 2% 0% 0% 0%;
  }
  .smll-txt1 {
    /* border: 2px solid greenyellow; */
    width: 50%;
    margin: 2% -10% 0% 0%;
  }
  .smll-txt2-1 {
    /* border: 1px solid yellow; */
    width: 100%;
    font-size: 13px;
    margin: 2% 3% 0% 0%;
  }
  .smll-txt2 {
    /* border: 1px solid red; */
    width: 45%;
    font-size: 13px;
    margin: 2% 0% 0% 0%;
  }
  .l1 {
    /* border: 1px solid plum; */
    width: 99%;
    font-size: 13px;
    margin: 2% 0% 0% 0%;
  }
  .l2 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .l3 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin: 2% -3% 0% 6%;
  }
  .read1 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .read2 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -7% 0% 0% 70%;
  }
  .read3 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .pgn1 {
    /* border: 1px solid yellow; */
    margin: 3% 0% 0% -80%;
  }
  .pgn2 {
    /* border: 1px solid yellow; */
    margin: 12% 0% 0% -80%;
  }
  .pgn3 {
    /* border: 1px solid yellow; */
    margin: 4% 0% 0% -80%;
  }
}
/* 
*/
/*  
*/
/*  
*/
@media screen and (max-width: 320px) {
  .stats {
    /* border: 2px solid green; */
    width: 90%;
    flex-direction: column;
  }
  .stats-container {
    /* width: 100%; */
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .chart1 {
    /* border: 2px solid red; */
    margin: 0% 0% 0% 0%;
    height: 200px;
    width: 90%;
  }
  .chart1 img {
    /* border: 1px solid #699bf7; */
    height: 200px;
    width: 97%;
  }
  .chart2 {
    /* border: 2px solid blueviolet; */
    margin: 6% 0% 0% 0%;
    padding-bottom: 5%;
    height: 200px;
    width: 100%;
  }
  .chart2 img {
    /* border: 2px solid blueviolet; */
    height: 190px;
    width: 99%;
  }
  .cont1 {
    /* border: 2px solid green; */
    width: 80%;
    margin-left: 8px;
  }
  .feed-txt {
    /* border: 1px solid orange; */
    font-size: 15px;
  }
  .cont2 {
    /* border: 2px solid navy; */
    width: 80%;
    padding-top: 4px;
    margin: 20px 0px 0px 35px;
  }
  .txt1 {
    /* border: 1px solid purple; */
    font-size: 15px;
  }
  .txt2 {
    /* border: 1px solid plum; */
    font-size: 13px;
    margin-left: 15px;
  }
  .bttn {
    /* border: 2px solid tomato; */
    width: 50%;
    height: 20px;
    font-size: 13px;
    margin-left: 8%;
  }
  .box {
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-left: 3%;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box1 {
    height: 250px;
    width: 90%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .img1 {
    /* border: 1px solid green; */
    height: 40%;
    width: 50%;
    margin: 3% 0% 0% 5%;
  }
  .img2 {
    /* border: 1px solid green; */
    height: 30%;
    width: 65%;
    margin: 0% 0% 0% 5%;
  }
  .img3 {
    /* border: 1px solid green; */
    height: 35%;
    width: 35%;
    margin: 0% 0% 0% 5%;
  }
  .box2 {
    height: 250px;
    width: 90%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .box3 {
    height: 250px;
    width: 90%;
    border-radius: 15px;
    margin: 3% -4% 0% 0%;
  }
  .tex {
    /* border: 1px solid red; */
    width: 90%;
    font-weight: bold;
    font-size: 15px;
    margin: 2% 0% 0% 15%;
  }
  .smll-txt {
    /* border: 2px solid green; */
    width: 90%;
    margin: 2% -2% 0% 0%;
  }
  .smll-txt1 {
    /* border: 2px solid greenyellow; */
    width: 50%;
    margin: 2% -15% 0% 0%;
  }
  .smll-txt2-1 {
    /* border: 1px solid yellow; */
    width: 100%;
    font-size: 13px;
    margin: 2% 3% 0% 0%;
  }
  .smll-txt2 {
    /* border: 1px solid red; */
    width: 45%;
    font-size: 13px;
    margin: 2% 0% 0% 0%;
  }
  .l1 {
    /* border: 1px solid plum; */
    width: 99%;
    font-size: 13px;
    margin: 2% 0% 0% 0%;
  }
  .l2 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin: 2% 0% 0% 6%;
  }
  .l3 {
    /* border: 1px solid plum; */
    width: 90%;
    font-size: 13px;
    margin: 2% -3% 0% 6%;
  }
  .read1 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .read2 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -7% 0% 0% 70%;
  }
  .read3 {
    /* border: 2px solid blue; */
    width: 25%;
    font-size: 10px;
    margin: -5% 0% 0% 70%;
  }
  .pgn1 {
    /* border: 1px solid yellow; */
    margin: 3% 0% 0% -80%;
  }
  .pgn2 {
    /* border: 1px solid yellow; */
    margin: 12% 0% 0% -80%;
  }
  .pgn3 {
    /* border: 1px solid yellow; */
    margin: 4% 0% 0% -80%;
  }
}
