body{
    width: 100vw;
    height: 100vh;
}
.prodContainer{
    width: 90%;
    margin: 20px auto;
    display: flex;
    gap: 30px;
}
.container{
    border: 1px solid;
    margin-top: 0%;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
    width: 21% ;
    height:9% ;
}
   
.first {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    padding-right: 10px;
}
.first p{
   font-family: sans-serif;
    
    font-weight: bolder;
}
.first img{
  padding-top: 15px;
    height: 19px;
}

.second img{
    padding-left: 49px;
     height: 100px;
}
.third{
    width: 80%;
    margin: 5px auto;
}
.third h3{
    font-size: 14px;
    font-weight: bold;
}

.fourth{
    width: 80%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fourth p{
    
    font-size:14px;
    cursor: pointer;
}

 .read{
  

}
