*{
    margin: 0;
    padding: 0;
}
body a{
    text-decoration: none;
    color:black;
}
nav{
    background-color: rgb(12, 47, 6);
    color: white;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 210px;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 30%;
    padding-top: 20px;
}
#ho{
    color: rgb(255, 174, 0);
}
button{
    background-color:rgb(255, 162, 0) ;
    color:black;
    padding: 10px;
    border-radius: 40px;
    margin-top: 10px;
    border: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100px;
    margin-left: 10%;
    font-size: 12px;
}
img{
    width: 100%;
}
.pushin{
    margin-left: 8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
.card{
    margin-left: 6%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 6%;
    justify-content: center;
    align-items: center;
}
.cardie{
    padding: 30px;
    display:flex;
    gap: 20px;
}
.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:1px solid black;
}
.card h4{
    text-align: center;
}
.card p{
    text-align: center;
}
.cardiee{
    display: block;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
}
.card a{
background:red
}
.cardiee p{
font-size: .8em;
}
.cardiee h4{
font-size: .9em;
}
.card{
    padding:5px;
    align-items: center;
    justify-items: center;
}
@media (min-width: 992px) and (max-width: 1200px) { 
    .cardie{
        display: flexbox;
        flex-wrap: wrap;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .cardie{
        display: flexbox;
        flex-wrap: wrap;
    }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .cardie{
        display: flexbox;
        flex-wrap: wrap;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .cardie{
        display: flexbox;
        flex-wrap: wrap;
    }
}
