*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(11, 154, 154);
}
nav ul{
   margin-right: 20px;
   float: right;
   padding-top: -60px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;   
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    cursor: pointer;
}
li a:hover{
    color: orange;
}
.toggle i{
    display: none;
}
.dropdown-menu{
    position: absolute;
    top: 60px;
    right: -100px;
    width: 300px;
}
.dropdown-menu ul li{
display: block;
}
.dropdown-menu li a{
    color:white;
    background:  rgb(11, 154, 154);
}

@media screen and (max-width:900px)
{
    nav{
        width: 300px;
        height: 250px;
        position: static;
    }
    nav ul{
        padding: 5px;
        margin: 0 10px;
    }
    nav ul li{
        /* align-items: center;
        margin: auto; */
        display: block;
        object-fit: fill;
    }
    nav li a {
        justify-content: center;

    }

}
@media screen and (max-width:1200px){
    nav{
        width: 900px;
        height: 400px;
    }
    nav ul li {
        display: block;
        object-fit: fill;
    }
}